---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/PageTitle.astro';

const allProps = JSON.stringify(Object.keys(Astro.props));
---

<Default {...Astro.props} />

<p style="color: red; font-size: 0.75rem;">
  props keys: {allProps}
</p>